@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Playfair+Display:wght@400;500;700&display=swap');

/* --- 1. Definisikan font Anda di sini dengan @theme --- */
@theme {
    fontFamily: {
        sans: ['Inter', 'sans-serif'],
            serif: ['"Playfair Display"', 'serif'],
    }
}
@import "tailwindcss";